body {
background: #56B2E3;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: #5685E3;
text-align: center;
}

h2 {
color: #56DCE3;
text-align: center;
}
.project img {
  width: 400px;                     
  margin: 15px auto;       
  border: 2px solid rgb(81, 178, 231);
  display: block;          
}
a { 
text-decoration: none;
color: purple;
}
.project p { 
text-align: center;
margin: 15px;
}