body {
background: #56B2E3;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: #5685E3;
text-align: center;
}

h2 {
color: #56DCE3;
text-align: center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #51b2e7; /* pick a color */
    border-radius: 25%;
}